.careers {
  //border: 1px dotted pink;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;

  &__title {
    //border: 1px dotted tomato;

    display: flex;
    width: 50%;
    height: 96px;

    cursor: pointer;

    font-size: unquote("clamp(24px, 2vw, 70px)");
    font-family: $creative-font;

    align-items: center;
    justify-content: center;

    a {
      text-align: center;
      text-decoration: none;
      color: $creative-text-color;
      transition: all 0.3s ease-in;

      &:hover{
        transition: all 0.3s ease-in-out;
        text-shadow:
      0 0 10px rgba(247, 207, 225, 1),
      0 0 30px rgba(247, 207, 225, .8),
      
      }
    }
  }

  &__title--software {
    font-family: $software-font;
    font-size: unquote("clamp(16px, 2vw, 24px)");

    a {
      color: $software-text-color;
      &:hover {
        transition: all 0.3s ease-in-out;
        text-shadow: 0 0 10px rgba(246, 194, 130, 1),
          0 0 30px rgba(246, 194, 130, 0.8);
      }
    }
  }
}
