<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= htmlWebpackPlugin.tags.headTags %>
  </head>
  <body>
    <div class="my-name">
      <h1>Enrique Nieto Martínez</h1>
    </div>

    <div class="careers">
      <div class="careers__title careers__title--software">
        <a href="#">Software Engineer</a>
      </div>
      <div class="careers__title">
        <a href="#">Digital Creative</a>
      </div>
    </div>

    <div class="version-label">
      <span class="v">v</span>
      <span class="num">0.1</span>
    </div>

    <div class="footer">
      <div class="social-links">
        <div class="social-links__link social-links__link--software"></div>
        <div class="social-links__link social-links__link--software"></div>
        <div class="social-links__link"></div>
        <div class="social-links__link"></div>
      </div>
    </div>
    <%= htmlWebpackPlugin.tags.bodyTags %>
  </body>
</html>
