<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= htmlWebpackPlugin.tags.headTags %>
  </head>
  <body>
    <div class="my-name">
      <h1>Enrique Nieto Martínez</h1>
    </div>

    <div class="careers">
      <div class="careers__title careers__title--software">
        <a href="#">Software Engineer</a>
      </div>
      <div class="careers__title">
        <a href="#">Digital Creative</a>
      </div>
    </div>

    <div class="version-label">
      <span class="v">v</span>
      <span class="num">0.1</span>
    </div>

    <div class="footer">
      <div class="social-links">
        <div class="social-links__link social-links__link--software">
          <a href="https://github.com/proartmateur" target="_blank">
            <img src="./assets/icons/github-icon.svg" alt="github" />
          </a>
        </div>
        <div class="social-links__link social-links__link--software">
          <a href="https://www.linkedin.com/in/enrique-nieto-martinez-b850b59a" target="_blank">
            <img src="./assets/icons/linkedin-icon.svg" alt="linkedin" />
          </a>
        </div>
        <div class="social-links__link">
          <a href="https://www.deviantart.com/ennima/gallery" target="_blank">
            <img src="./assets/icons/deviant-art-icon.svg" alt="devinantart" />
          </a>
        </div>
        <div class="social-links__link">
          <a href="https://www.instagram.com/ennimart" target="_blank">
            <img src="./assets/icons/instagram-icon.svg" alt="instagram" />
          </a>
        </div>
      </div>
    </div>
    <%= htmlWebpackPlugin.tags.bodyTags %>
  </body>
</html>
