$uv-33-19: #262030;
$letuce-green: #BFD58E;
$muskmelon: #F0955F;
$yellow-iris: #F5EF96;
$ultra-violet: #5F4B8B;
$buganvilia: #9B84C0;

$title-color: $letuce-green;
$creative-text-color: $ultra-violet;
$software-text-color: $yellow-iris;

$creative-font: 'Open Sans', sans-serif;
$software-font: 'VT323', monospace;

$version-color: $muskmelon;
$link-software: $buganvilia;
$link-creative: $ultra-violet;