@import './vars';

body {
  @include bg-two-color;

  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  
 
  
  
}


@import './components/my-name.scss';
@import './components/careers.scss';
@import './components/version-label';

@import './components/footer';
